body
{
	
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	text-align: center;
}
nav	ul li
{
	margin-left: 10px;
	float: left;
}
#contenido
{
	border-right: solid;
	border-left: solid;
	border-width: 1px;
	border-color: #333333;
	margin: 0 auto;
	height: 300px;
	width: 800px;
}